.root{


    margin-left: 12%;
    font-size: 28px!important;
    
    }
    
    
    .root1{
    
    margin-left: 240px;
    
    
    }
    
    @media (min-width: 987px) and (max-width: 1100px) {
    
    
        .root{
    
    
            margin-left: -1%;
            font-size: 23px;
            
            }
            
            
            .root1{
            
            margin-left: 45px;
            
            
            }
    
    
    
    
     }
    
    
    @media (min-width: 1101px) and (max-width: 1350px) {
    
        .root{
    
    
            margin-left: 6%;
            font-size: 23px;
            
            }
            
            
            .root1{
            
            margin-left: 99px;
            
            
            }
    
    
    
    
    
    
    
    }


    .fast2{

        font-family: 'Montserrat', sans-serif;
font-size: 28px;


    }

    .fast3{


font-size: 12px;
margin-left: 126px;
margin-top: -25px;

    }


    .fast5{

height: 343px;


    }

    .fast{

display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-top: 65px;




    }



    @media (min-width: 0px) and (max-width: 986px) {

        .fast{

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: 65px;
            
            
            
            
                }


                .fast5{


width: 100%;

                }


    }





    .sec1{

text-align: center;
margin-top: 68px;
font-size: 28px;

    }


    
    .sec2{

        text-align: center;
        word-spacing: 32px;
font-size: 20px;        
        
            }


            
    .sec3{

        text-align: center;
        
        
            }


            
    .sec4{

        text-align: center;
        font-size: 28px;
        
            }

            
    .sec5{

        text-align: center;
        font-family: 'Open Sans', sans-serif;

        
        
            }


            .min{


width: 100%;

            }


            .min1{

                font-family: 'Open Sans', sans-serif;
font-size: 28px;
margin-top: -145px;
text-align: center;
color: white;


            }

            .min2{

                color: white;
font-size: 15px;
                margin-top: -15px;
                text-align: center;


            }


            @media (min-width: 0px) and (max-width: 886px) {



.min1{

margin-top: -94px;
font-size: 20px;

}



            }




            .hour1{

margin-top: 148px;
margin-left: 99px;
font-size: 36px;


            }


.hour2{

font-size: 15px;



}




            .hour3{

height: 2px;
width: 100%;
background-color: black;




            }


            .fan{


display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 32px;


            }

   

.fan3{

font-size: 18px;
margin-left: 25px;


}





            .fan4{

margin-top: 89px;





            }


            .fan5{

                font-family: 'Montserrat', sans-serif;
font-size: 35px;
margin-left: 25px;


            }



            @media (min-width: 0px) and (max-width: 886px) {

                .fan{


                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-top: 32px;
                    
                    
                                }

            }



            

.aew{

    margin-top: 225px;
    
    }
    
    
    
    
        .stone{
    
    background-image: url(file:///C:/Users/Sudipto/Desktop/Web%20Architect/Project%20Designer/Hoffmen%20Motivation/image/8649%201.png);
    height: 225px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
        }
    
    
    .stone2{
    
        font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    
    
    
    }
    
    
    
    
        .stone4{
    
    
    font-size: 15px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    
    
    
        }
    
        .stone6{
    
    display: flex;
    flex-direction: row;
    
    
    
        }
        
       
        
        .stone7{
    
            margin-left: 32px;
    
    
    
        }
    
        .stone9{
    
    height: 60px;
    width: 371px;
    background-color: #006C9A;
    color: white;
    font-size: 18px;
    border-radius: 16px;
    font-family: 'Montserrat', sans-serif;
    
    
        }
    
    .stone8{
    
    margin-top: 32px;
    
    
    
    }
    
    
    
    
        .stone1{
    
    margin-top: 61px;
    
    
        }
    
        
        .stone3{
    
            margin-top: 63px;
            
                }
    
                
        .stone5{
    
            margin-top: 63px;
            
                }
    
                
        .stone10{
    
            margin-top: 63px;
            
                }
    
    
    
    
                @media (min-width: 0px) and (max-width: 786px) {
    
    
                    .stone{
    
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-top: 425px;
                        height: 800px;
    
    
    
                        
                            }
    
    .stone1{
    
    margin-top: 120px;
    
    
    }
    
    
    
    
    
                }
    
    
    
                @media (min-width: 787px) and (max-width: 896px) {
    
    
    
                    .stone{
    
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-top: 325px;
                        height: 800px;
    
    
    
                        
                            }
    
    
    
    
    
                }
    
    
                @media (min-width: 897px) and (max-width: 987px) {
    
    
                    .stone{
    
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        margin-top: 208px;
                        
    
    
    
                        
                            }
    
    
    
    
                }
    
    
                
                @media (min-width: 988px) and (max-width: 1200px) {
    
    
                    .stone{
    
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        margin-top: 208px;
                        
    
    
    
                        
                            }
    
    
    
    
                }
    
    
                
                @media (min-width: 1200px) and (max-width: 1500px) {
    
    
                    .stone{
    
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        margin-top: 188px;
                        
    
    
    
                        
                            }
    
    
    
    
                }